<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>546837153870-vd6ni81mvtt9b1d6c22o13rhpsknpuuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546837153870-vd6ni81mvtt9b1d6c22o13rhpsknpuuh</string>
	<key>API_KEY</key>
	<string>AIzaSyAdsWVUZLnG7GAQmi2_R34RxlsGSSkoOIA</string>
	<key>GCM_SENDER_ID</key>
	<string>546837153870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cliffordYin.QaRds</string>
	<key>PROJECT_ID</key>
	<string>qards-1078a</string>
	<key>STORAGE_BUCKET</key>
	<string>qards-1078a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546837153870:ios:cbb210fc1f8c5a7d</string>
	<key>DATABASE_URL</key>
	<string>https://qards-1078a.firebaseio.com</string>
</dict>
</plist>